# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase config
src/firebaseConfig.ts

# iOS
ios/App/Pods
ios/App/App/GoogleService-Info.plist
ios/App/public
ios/App/build
ios/App/App.xcarchive
ios/App/App.xcworkspace/xcuserdata
ios/App/App.xcodeproj/xcuserdata

# Android
android/app/google-services.json
android/app/release
android/app/debug
android/app/build
android/.gradle
android/local.properties
android/*.iml
android/.idea
android/captures
android/build

# Capacitor
capacitor.config.json
ios/App/App/capacitor.config.json
android/app/src/main/assets/capacitor.config.json

# Testing
/coverage

# Production
/build

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
